
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    font-family: 'Poppins', sans-serif;   
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: none;
    list-style: none;
    text-decoration: none;

}

:root {
    --main-color: #fd4646;
    --text-color: #171427;
    --bg-color: #fff;
}

img {
    width: 100%;
}

body {
    color: var(--text-color);
}

section{
    padding: 4rem 0 3rem;
}

.container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--bg-color);
    box-shadow: 0 1px 4px hsl(0 4% 15%/ 10%);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo{
    font-size: 1.1rem;
    color: var(--text-color);
    font-weight: 400;
}

.cart-icon{
    font-size: 1.8rem;
    cursor: pointer;
}

.section-title{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.shop{
    margin-top: 2rem;
}

.product-img{
    width: 50%;
    height: auto;
    box-shadow: 0 1px 4px hsl(0 4% 15%/ 10%);
}